parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
    reportUnmatchedIgnoredErrors: false

includes:
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
