<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true">
    <php>
        <env name="APP_ENV" value="test" force="true"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Contract</directory>
            <directory>src/Exception</directory>
            <file>src/Resources/config/services.php</file>
            <file>src/Attribute/AsLinkProvider.php</file>
            <file>src/Enum/ExternalTargetPolicy.php</file>
            <file>src/Enum/LinkAvailability.php</file>
            <file>src/Enum/MapAction.php</file>
            <file>src/Model/Options/LinkOptionsInterface.php</file>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage"/>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
</phpunit>
