# Local environment (do not version secrets)
.env
.env.local
.env.*.local
.env.dev

# Dependencies & build artifacts
/vendor/
/public/bundles/

# Symfony runtime
/var/
/.phpunit.cache/
/phpunit.xml

# Caches & logs
*.log

# IDE / OS
.idea
.vscode
*.swp
.DS_Store

# Archives / compressed
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
